objs/
inc/libft/objs/
inc/libft/a.out
inc/libft/libft.a
src/a.out
a.out
a.out.dSYM
src/a.out.dSYM
src/objs/
inc/minilibx-mac/libmlx.a
inc/minilibx-linux/libmlx.a
inc/a.out
.DS_Store
.vscode
src/.DS_Store
inc/.DS_Store
inc/libft/.DS_Store
inc/minilibx-linux/*.o
inc/minilibx-mac/*.o
inc/minilibx-linux/obj/
inc/minilibx-linux/libmlx_Linux.a
a
scene.rt
minirt
src/minirt
minirt.dSYM
src/minirt.dSYM
inc/minirt.dSYM
inc/minilibx-linux/minirt.dSYM
inc/minilibx-mac/minirt.dSYM
inc/minilibx-linux/test/main.o
inc/minilibx-linux/test/mlx-test
